
*/Example/.vs
*/Example/Example/Example.Android/obj
*/Example/Example/Example.Android/bin
*/Example/Example/Example/bin
*/Example/Example/Example/obj
/Lesson6/Code/.vs/Novella/DesignTimeBuild/.dtbcache
/Lesson6/Code/.vs/Novella/v16/.suo
/Lesson6/Code/.vs/Novella/v16/Server/sqlite3/db.lock
/Lesson6/Code/.vs/Novella/v16/Server/sqlite3/storage.ide
/Lesson5/Code/.vs/App2/v16
/Lesson5/Code/App2/App2/bin/Debug/netstandard2.0
/Lesson5/Code/App2/App2/obj
/Lesson5/Code/App2/App2.Android/bin/Debug
/Lesson5/Code/App2/App2.Android/obj
/Lesson5/Code/App2/App2.Android/
/Lesson5/Code/App2/App2.iOS/

